body {
  flex-direction: column;
  align-items: center;
  background-color: #e0e4cc;
}

.App {
  text-align: center;
  display: grid;
  grid-template-areas:
  "header header"
  "sidebar main"
  "footer footer";
  grid-template-columns: 20% auto;
  grid-template-rows: 358px auto 55px;
  }

.App-logo {
  margin: 30px;
  height: 10vmin;
  pointer-events: none;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logo-dir{
  display: flex;
  flex-direction: row;
}

.App-header {

  background-color: #e0e4cc;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-name {
  margin-top: 30px;
  color: #94604b;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main-content-container {
  grid-area: main;
  background-color: var(--main-background);
  padding: 20px;
}

.routes-container{
  width: 35%;
}

.sidebar-container{
  width: 65%;
}

.main-container {
  grid-area: main;
  background-color: var(--main-background);
  padding: 30px;
  text-align: center;
}

