body {
  flex-direction: column;
  align-items: center;
  background-color: rgb(225, 229, 205);
  background-image: linear-gradient(
    to bottom,
    rgba(225, 229, 205),
    rgba(225, 229, 205, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("./backgroundFoto.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.App {
  text-align: center;
  display: grid;
  grid-template-areas:
  "header header"
  "sidebar main"
  "footer footer";
  grid-template-columns: 20% auto;
  grid-template-rows: auto ;
  }

.App-logo {
  margin: 30px;
  height: 10vmin;
  pointer-events: none;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logo-dir{
  display: flex;
  flex-direction: row;
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: 25px;
  width: 300px;
}

.App-name {
  margin-top: 30px;
  color: rgba(148, 96, 75, 0.5);
  padding-left: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo-name{
  opacity: 0.2;
}

.main-content-container {
  grid-area: main;
  background-color: var(--main-background);
  padding: 20px;
}

.routes-container{
  width: 35%;
}

.sidebar-container{
  width: 65%;
}

.main-container {
  grid-area: main;
  background-color: var(--main-background);
  padding: 30px;
  text-align: center;
}

.slider-wrapper{
  margin: auto;
  width: 600px;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.text-container{
  width: 400px;
  background-color: rgba(225, 229, 205, 0.2);
  margin: auto;
}