body {
  flex-direction: column;
  align-items: center;
  background-color: rgb(225, 229, 205);
  background-image: linear-gradient(
    to bottom,
    rgba(225, 229, 205),
    rgba(225, 229, 205, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("./assets/images/PagePhoto/backgroundFoto.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.App {
  text-align: center;
  display: grid;
  grid-template-areas:
  "header header"
  "sidebar main"
  "footer footer";
  grid-template-columns: 20% auto;
  grid-template-rows: auto ;
  }


.main-content-container {
  grid-area: main;
  background-color: var(--main-background);
  padding: 50px;
}

.routes-container{
  width: 35%;
}

.sidebar-container{
  width: 65%;
}

.main-container {
  grid-area: main;
  background-color: var(--main-background);
  padding: 30px;
  text-align: center;
}

.slider-wrapper{
  margin: auto;
  width: 600px;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.text-container{
  width: 400px;
  background-color: rgba(225, 229, 205, 0.2);
  margin: auto;
}